.table-shadown-custom{
    background: #ffffff;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    thead{
        tr{
            height: 35px;
            line-height: 35px;
            th{
                border-top: unset;
                .custom-control-label::before {
                    position: absolute;
                    top: 0.6rem;
                }
                .custom-control-label::after {
                    position: absolute;
                    top: 0.6rem;
                }
            }
        }
    }
    tbody{
        tr{
            height: 35px;
            line-height: 35px;
            transition: all .3s;
            &:hover{
                background: $color-web;
                color: #ffffff;
            }
            th,td{
                border: unset;
                .custom-control-label::before {
                    position: absolute;
                    top: 0.6rem;
                }
                .custom-control-label::after {
                    position: absolute;
                    top: 0.6rem;
                }
            }
        }
    }

}
